*{
    padding: 0;
    margin: 0;
}
.container{
   background-color: white;
   color: black;
   display: flex;
   flex-direction: column;
   font-family: sans-serif;   
   justify-content:center;
   align-items:center;
}
.container .top{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.container .top >div{
   min-width: 100px;
   height: 50px;
   background-color:white;
   display: flex;
   flex-direction: column;
   justify-content:space-between;
       
}
.container .top .logo img{
   position: relative;
   right: 400px;
   width: 100%;
   height: 100%;
    
}
.container .top .menu{
   display: flex;
   flex-direction: row;
   font-size: 15px;
   position: relative;
   left: 420px;
}
.container .top .menu ul {
   gap: 10px;
   list-style:none;
   display: flex;
   flex-direction: row;
   margin-right:85px ;
} 
.container .top .menu ul li{
   align-self: center;
}
.container .top .menu ul li:hover{
   text-align: center;   
   background-color: white;
   cursor: pointer;
}
.categary{
   height: 200px;
   width: 900px;
   display: flex;
   flex-direction: row;
}
.categary >div {
   border-top: 1px white solid;
   width: 25%;
   height: 100%;
   font-weight: bold;
}
.categary >div a{
   font-size: 20px;
   position: relative;
   top:150px;
   left: 66px;
}
.container .categary ul{
   display: flex;
   flex-direction: row;
   list-style: none;
   align-items: center;
   justify-content: center;
   gap: 0px 0px;  
}
.container .categary ul li{
   text-align: center;
}
.container .categary ul li img{
   width: 200%;
   height: 200%;
   object-fit: cover;
}
.intro{
   align-items: center;
   justify-content: center;   
 }
.container .intro >div 
{
   align-items: center;
   justify-content: center;
   margin-top: 30px;
    
}
.container .intro .img{
   display: flex;
   flex-direction: row;
   width: 900px;
   align-items: center;
   justify-content: center;
 }
 .container .intro .img img{
    object-fit:cover;
    width: 33.3%;
 }
 .container .outro {
 display: flex;
 flex-direction: row;
 justify-content: center;
 gap: 140px;
 background-color: yellow;
 font-size:13px ;
 width: 100%;
 }
 .container .outro >div ul{
    list-style: none;
 }
 .bottom {
    position: absolute;
    top:90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .outro{
    margin-top: 30px;
    padding-top: 25px;
    padding-bottom: 30px;
  }